.part {
    @apply card text-center px-8 flex flex-col justify-center items-center;

    &:not(.part--soon) {
        @apply hover:ring-2 focus:ring-2;
    }

    &--soon {
        @apply justify-center;
    }

    &__title {
        @apply mt-2 text-xl;
    }

    &__soon-text {
        @apply text-5xl font-bold text-gray-300 my-auto;
    }

    &__last-step {

    }
}
